{% extends 'base_admin.html.twig' %}

{% block title %}Enregistrement{% endblock %}

{% block body %}

<div class="container mt-4">
    <h1>Enregistrez vous</h1>

    {{ form_start(form) }}
    {{ form_row(form.username) }}
    {{ form_row(form.email) }}
    {{ form_row(form.plainPassword.first) }}
    {{ form_row(form.plainPassword.second) }}

    <button class="btn btn-primary">Enregister</button>
    {{ form_end(form) }}
</div>

{% endblock %}
