{% extends 'base_admin.html.twig' %}

{% block title %}Liste des utilisateurs{% endblock %}

{% block body %}

    <div class="container mt-4">
        <h1>Liste des utilisateurs</h1>

        {% for message in app.flashes('success') %}
            <div class="alert alert-success">
                {{ message }}
            </div>
        {% endfor %}

        <table class="table table-striped">
            <thead>
            <tr>
                <th>Id</th>
                <th>Noms</th>
                <th>Email</th>
                <th>Rôles</th>
                <th>Actions</th>
            </tr>
            </thead>
            <tbody>
            {% for user in users %}
                <tr>
                    <td>{{ user.id }}</td>
                    <td>{{ user.username }}</td>
                    <td>{{ user.email }}</td>
                    <td>
                        {% for role in user.roles %}
                            {% if role == "ROLE_USER" %}
                                Utilisateur
                            {% elseif role == "ROLE_COLLA" %}
                                Collaborateur
                            {% elseif role == "ROLE_SUPER" %}
                                Superviseur
                            {% elseif role == "ROLE_ADMIN" %}
                                Administrateur
                            {% endif %}
                        {% endfor %}
                    </td>
                    <td><a href="{{ path('users_edit', {id: user.id}) }}" class="btn btn-warning">Editer</a></td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="5">Il n'y a pas d'utilisateur inscrit</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>

{% endblock %}
