<!-- Single Featured Property -->
{% block body %}
    {% for propriete in proprietes %}
        <div class="col-12 col-md-6 col-xl-4">
            <div class="single-featured mb-50 wow fadeInUp" data-wow-delay="100ms">
                <!-- Property Thumbnail -->
                <div class="property-thumb">
                    <img src="{{ vich_uploader_asset(propriete, 'imageFile') | imagine_filter('thumb') }}"
                         alt="card-img-top" style="width: 100%; height: auto">

                    <div class="tag">
                        <span>A VENDRE</span>
                    </div>
                    <div class="list-price">
                        <a href="{{ path('propriete.show2', {id: propriete.id, slug: propriete.slug}) }}"><p>{{ propriete.formattedPrix }} €</p></a>
                    </div>
                </div>

                <!-- Property Content -->
                <div class="property-content">
                    <h4>{{ propriete.titre }}</h4>
                    <h5>{{ propriete.ville }}</h5>
                    <p class="location"><i class="fa fa-map-marker" style="color: #947056; font-size: 20px"></i>
                        &nbsp périphérique</p>
                    {#            <p>Integer nec bibendum lacus. Suspendisse dictum enim sit amet libero malesuada.</p>#}
                    <div class="property-meta-data d-flex align-items-end justify-content-between">
                        <div class="space">
                            <i class="fa fa-object-group"></i>
                            <span>{{ propriete.surface }} m2 </span>
                        </div>
                        <div class="bathroom">
                            <i class="fa fa-bed"></i>
                            <span>{{ propriete.chambres }}</span>
                        </div>
                        <div class="bathroom">
                            <i class="fa fa-bathtub"></i>
                            <span>2</span>
                        </div>
                        <div class="garage">
                            <i class="fa fa-automobile"></i>
                            <span>2</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    {% endfor %}

    <div class="pagination">
        {{ knp_pagination_render(proprietes) }}
    </div>

{% endblock %}