{% extends 'base_admin.html.twig' %}

{% block title %}{% endblock %}

{% block body %}
    <div class="container mt-4">
        <h1>Créer un nouveau bien</h1>

        {{ form_start(form) }}
        <div class="row">
            <div class="col-md-4">{{ form_row(form.titre) }}</div>
            <div class="col-md-4">{{ form_row(form.surface) }}</div>
            <div class="col-md-4">{{ form_row(form.prix) }}</div>
        </div>

        <div class="row">
            <div class="col-md-2">{{ form_row(form.pieces) }}</div>
            <div class="col-md-2">{{ form_row(form.chambres) }}</div>
            <div class="col-md-2">{{ form_row(form.chauffage) }}</div>
            <div class="col-md-2">{{ form_row(form.etages) }}</div>
        </div>
        <div class="row">
            <div class="col-md-2">{{ form_row(form.imageFile) }}</div>
            <div class="col-md-3">{{ form_row(form.adresse) }}</div>
            <div class="col-md-2">{{ form_row(form.ville) }}</div>
            <div class="col-md-2">{{ form_row(form.code_postal) }}</div>
            <div class="col-md-2">{{ form_row(form.vendu) }}</div>
        </div>
        {{ form_rest(form) }}
        <button class="btn btn-success">Ajouter</button>
        {{ form_end(form) }}
    </div>
{% endblock %}





