<!-- Main Footer Area -->
<div class="main-footer-area">
    <div class="container-fluid" style="margin: 0px 60px 0px 60px">
        <div class="d-flex justify-content-between">

            <!-- Single Footer Widget -->
            <div class="col-12 col-sm-6 col-xl-3">
                <div class="footer-widget-area ">
                    <!-- Widget Title -->
                    <div class="widget-title">
                        <h6>Qui sommes-nous</h6>
                    </div>
                    <div class="footer-logo my-4">
                        <img src="{{asset('build/images/core-img/logo.png')}}" alt="">
                    </div>
                    <p>L’agence immobilière de tous vos projets !
                        Rendez-vous dans votre agence pour discuter et échanger sur votre projet.
                        Notre équipe d’experts se tient à votre disposition pour répondre à tous vos besoins immobiliers.
                        Que vous souhaitiez vendre, acheter, louer, investir ou faire gérer, nous sommes formés pour
                        vous accompagner. Retrouvez-nous en agence !</p>
                </div>
            </div>

            <!-- Single Footer Widget -->
            <div class="col-12 col-sm-6 col-xl-3">
                <div class="footer-widget-area ">
                    <!-- Widget Title -->
                    <div class="widget-title">
                        <h6>horaire d'ouverture</h6>
                    </div>
                    <!-- Office Hours -->
                    <div class="weekly-office-hours">
                        <ul>
                            <li class="d-flex align-items-center justify-content-between"><span>Lundi - Vendredi</span> <span>09h00 - 12h30 / 14h00 - 19h00</span></li>
                            <li class="d-flex align-items-center justify-content-between"><span>Samedi</span> <span>09h - 14h</span></li>
                            <li class="d-flex align-items-center justify-content-between"><span>Dimanche</span> <span>Fermé</span></li>
                        </ul>
                    </div>
                    <!-- Address -->
                    <div class="address">
                        <h6><img src="{{asset('build/images/icons/phone-call.c70b72d0.png')}}" alt=""> 05 56 00 00 00</h6>
                        <h6><img src="{{asset('build/images/icons/envelope.2899d2b1.png')}}" alt=""> hello@agence.com</h6>
                        <h6><img src="{{asset('build/images/icons/location.3758247b.png')}}" alt=""> Avenue de la libération 33000 Bordeaux</h6>
                    </div>
                </div>
            </div>

            <!-- Single Footer Widget -->
            <div class="col-12 col-sm-6 col-xl-3">
                <div class="footer-widget-area ">
                    <!-- Widget Title -->
                    <div class="widget-title">
                        <h6>liens utiles</h6>
                    </div>
                    <!-- Nav -->
                    <ul class="useful-links-nav d-flex align-items-center">
                        <li><a href="{{ path('site_index') }}">Accueil</a></li>
                        <li><a href="#">Services</a></li>
                        <li><a href="#">Vente</a></li>
                        <li><a href="{{ path('site_properties_index') }}">Propriétés</a></li>
                        <li><a href="#">Location</a></li>
                        <li><a href="#">Programme neuf</a></li>
                        <li><a href="#">Estimation</a></li>
                        <li><a href="{{ path('site_contact_index') }}">Contact</a></li>
                        <li><a href="#">FAQ</a></li>
                        <li><a href="#">CGV</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
