<!DOCTYPE html>
<html lang=Fr>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}
    </head>
    <body>
        {% block body %}{% endblock %}
        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
            <!-- jQuery (Necessary for All JavaScript Plugins) -->
            <script src="{{ asset('build/assets/dist/js/jquery/jquery-2.2.4.min.js') }}"></script>
            <!-- Plugins js -->
            <script src="{{ asset('build/assets/dist/js/plugins.js') }}"></script>
            <script src="{{ asset('build/assets/dist/js/classy-nav.min.js') }}"></script>
            <script src="{{ asset('build/assets/dist/js/jquery-ui.min.js') }}"></script>
            <!-- Active js -->
            <script src="{{ asset('build/assets/dist/js/active.js') }}"></script>
        {% endblock %}
    </body>
</html>
